* {
    padding: 0;
    margin: 0;
}


/* NAVBAR */

#navbar {
    background-color: black;
    padding: 24px;   
}   

#navbar ul {
    list-style-type: none;  /* linklerdeki noktaları siler */
    display: flex;  /* linkleri yan yana alır */
}

#navbar ul li a {
    padding: 0.5rem;
    color: white;
    text-decoration: none; /* linklerlin altındaki çizgiyi kaldırır */
}

#navbar ul li a:hover {   /* linkin üstüne geldiğinde renk değiştir */
    background: white;
    color: black;
    opacity: 0.8;
}

i {
    color: white;
    margin-left: auto; /* search simgesini en sağa taşır*/
}

i:hover {
    background: red;
    
}
